body {
    background-color:rgb(238, 127, 164);
    line-height: 1.6;
}

h2{
    color: rgb(8, 12, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibre, 'Trebuchet MS', sans-serif';

}
header {
    border-bottom: 1px solid  rgb(216, 213, 10);
    padding: 2px;
    margin-bottom: 6px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}
 h2{
    color:blueviolet(99, 6, )

 }
 p{
    color: red;
 }
 .About-me {
    color:rgb(5, 83, 134) ; 
    font-size: 20px;
 }
 .My services{
    color:aqua;
    font-size: 30px;
 }
 .My contact {
    color: brown;
    font-size: 20px;
 }
